.intro {
    background-color: white;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;

        .imageContainer {
            width: 500px;
            height: 500px;
            background-color: yellow;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            // float: right;
            margin-top: 30px;
            margin-left: 30px;
            

            img {
                width: 100%;
            }
        }

    }

    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 40px;
                margin: 10px 0;
            }

            h2 {
                font-size: 30px;
            }

            h3 {
                font-size: 30px;

                span {
                    font-size: inherit;
                    color: #1c676b;
                    // animation: arrowBlink 4s infinite
                }

                // @keyframes arrowBlink {
                //     100% {
                //         opacity: 30%;
                //     }
                // }

                .ityped-cursor {
                    animation: blink 1s infinite;
                }

                @keyframes blink {
                    50% {
                        opacity: 1;
                    }
                    100% {
                        opacity: 0;
                    }
                }
            }
        }

        a {
            position: absolute;
            bottom: 10px;

            img {
                width: 30px;
                animation: arrowBlink 2s infinite;

            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0;
                }
            }
        }
    }
}